/* .habilidades{
	width: 100%;
	max-width: 960px;
	


	display: flex;
	align-items: center;
	flex-direction: column;
} */
.habilidades img{
	
	width: 4rem;
}

/* .habilidades-img{
		
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 450px;
	width: 300px;
	flex-wrap: wrap;
	gap: 20px;

} */
.habilidades img:hover{

	opacity: .5;
	cursor: pointer;
}
