.logo {
    max-width: 5rem;
    border-radius: 50%;
}

.menu_img { 
    position: fixed;
    top: 50px;
    right: 30px;
    z-index: 5;
    
}
.menu_img:hover {
    cursor: pointer;
}

.menu_nav {
    position:fixed;
    display: none;
    flex-direction: column;
    top: -40px;
    right:  0px;
    width: 100vw;
    height: 107vh;
    background: #333;
    transition: all 2s ease;
}
.menu_nav span {
    margin-right: 20px;
}

.menu_toogle a {
    font-size: 1.5rem;
    color: var(--parrafos);
    text-decoration: none;
    line-height: 2rem;
    padding: 5px 20px;
    transition: all 1s ease;
}

.menu_toogle a:hover {
    background-color: #444;
    border-radius: 20px;
    color: var(--titulos-secciones);
    transition: all 1s ease;
}

@media screen and (min-width:768px) {
    header {
        width:100% ;
        padding: 30px 50px;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    .menu{
    	position: static;
    }

    .menu_img {
        display: none;
    }

    .menu_nav {
        display:flex;
        position: static;
        width: 100%;
        height: auto;
        flex-wrap:wrap;
        gap: 30px;
        padding: 30px 20px;
        margin-bottom:30px ;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background:transparent;
    }
    .menu_nav a{
        font-size: 2rem;

    }
}