.logo {
    position: relative;
    max-width: 4rem;
    border-radius: 50%;
    animation: rotar 4s infinite;
    transition: all 1s ease;
}
@keyframes rotar{
    0%{transform: rotateY(0deg);}
    50%{transform: rotateY(180deg)};
    100%{transform: rotateY(360deg)};
}