:root{
/*	--background-fondo:#3d5c5c;*/
	--background-fondo:#000;
	--titulos-secciones: #FF8300;
	--titulo-proyecto:#FF8303;
	--parrafos:#F0E3CA;
	--btn-proyectos:#33D468B0;
	--sombra-gris:#444;
}
p{
	font-size: 1.4rem;
}

.base{
	/* width: 100%; */
	background:linear-gradient(#000,#444,#333,#222);
	color:var(--titulo-proyecto);
}
.base p{
	color:var(--parrafos);
}
main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
#dialog{
	width: 20rem;
	background: #444;
}

#dialog .dialog_img{
	
	width: 100%;
	height: 100%;
}
#dialog .dialog_img:hover{
	opacity: 1;
}
.btn_cerrar{
	position: absolute;
	bottom: 5px;
	right: 18px;
	
	padding: 5px 10px;
	font-size: 	1rem;
	font-weight: 700;
	color:#fdfd; 

	border:none;
	background: forestgreen;
	border-radius: 20px;
}
@media screen and (min-width:704px){
	#dialog{
	width: 50%;
	background: #444;
}

#dialog .dialog_img{
	
	transition: all 10s linear;
	width: 100%;
	height: 100%;
}
#dialog .dialog_img:hover{
	opacity: 1;
}
.btn_cerrar{
	position: absolute;
	bottom: 5px;
	right: 18px;
	

	padding: 5px 10px;
	font-size: 	1rem;
	font-weight: 700;
	

	border:none;
	background: forestgreen;
	border-radius: 20px;
}
}



